@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  font-family: "Lobster", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d3557;
  font-size: 2rem;
}

#img-container {
  margin: 5rem;
}

input {
  font-family: inherit;
  font-size: 1rem;
  border-radius: 15px;
  height: 2rem;
  border-style: none;
  text-transform: uppercase;
}
button {
  font-family: inherit;
  font-size: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  width: 7rem;
  height: 2rem;
  background-color: #457b9d;
}

button:hover {
  background-color: #a8dadc;
  cursor: pointer;
}
